torch==2.0.0+cu118
torchvision==0.15.1+cu118
torchaudio==2.0.2+cu118
--extra-index-url https://download.pytorch.org/whl/cu118
transformers
google-api-python-client
# beautifulsoup4
# pandas
# numpy
# requests
fastapi
uvicorn
python-dotenv

